
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #13AA52 !important;
    border-color: #13AA52 !important;
}
.pollStateON, .pollStateON:hover, .pollStateON:active, .pollStateON:visited {
  background-color: #13AA52 !important;
  border-color: #13AA52 !important;
}
.pollStateOFF, .pollStateOFF:hover, .pollStateOFF:active, .pollStateOFF:visited {
  background-color: #d42e2e !important;
  border-color: #d42e2e !important;
}
.logo {
  margin-left: 24px;
  max-width: 280px;
  margin-bottom: 0px;
}

.jumbotron {
  background-image: url(./images/bg_pattern.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #273742;
  border-radius: .9rem;
  max-height: 420px;

 }

.infohead {
  font-family: 'din-regularregular';

  font-weight: normal;
  font-size: 44px;
  color: #FFFFFF;
  text-align: center;
  line-height: 64px;
}

@font-face {
  font-family: 'din-regularregular';
  src: url('fonts/din-regular-webfont.woff2') format('woff2'),
       url('fonts/din-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.infonumber {
  font-family: DINOT-Bold;
  font-size: 64px;
  color: #FFDD49;
  text-align: center;
  line-height: 64px;

  font-weight: normal;
  font-style: normal;

}

.votes {
  font-size: 140px;
  border-top: 6px !important;
  border-left: 6px;
  border-right: 6px;
  border-bottom: 6px;
  color: #FFDD49;
  background-color: #273742;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}
.container {
    background-color: #fefefe !important;
}

html,
body {
  height:100%;
  width:100%;
 
  overflow-y: visible;
  overflow-x: hidden;
}
.button {
  mid-width: 31%;
}
.background {
  background-color: #ffffff;

  min-height: 100vh;
  min-width: 100vw;
}

/* === page-container ===*/
.page-container {
  margin-bottom: 3vh;
  margin-top: 2vh;
  margin-right: 0vw;
  margin-left: 0vw;

  padding-right: 0px;
  padding-left: 0px;
}
.container {
    background-color: #B8C4C2;

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}